@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Goudy+Bookletter+1911&display=swap');

:root {
  --border: .1rem solid rgba(0, 0, 0, 0.421);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.142);
  --border-hover: .1rem solid #000
}

* {
  font-family: "Goudy Bookletter 1911", serif;
  font-family: "Gentium Book Plus", serif;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
  transition: width none;

}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
  user-select: none;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: .01rem;
  background: rgba(0, 0, 0, 0.418);
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  padding: .5rem 2rem;
  color: var(--dark);
  background: #fff;
  border: var(--border);
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1.5rem;
}

.box-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, 6 1fr);
}

.card {
  position: relative;
  overflow: hidden;
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  width: 20rem;
}

.card img {
  height: 25rem;
}

.cards:hover img.hover-img {
  transform: scale(1.1);
  cursor: pointer;
}

.cards {
  /* width: 280px; */
  height: auto;
  display: inline-block;
}

.card-content {
  /* width: 100%; */
  color: #000;
  grid-template-rows: max-content minmax(0, 1fr) max-content auto;
  text-align: center;
}

.card-information,
.card-price {
  padding: 0 1rem;

}

.card-information h3,
.card-information a {
  font-size: 1.5rem;
  color: #000;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-top: 1.2rem;
}

.card-price p {
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  text-align: left;

}

.cards:hover {
  cursor: pointer;
}

.cards:hover .card-information h3 a {
  text-decoration: underline !important;
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

}

@media (max-width:768px) {
  html {
    scroll-padding-top: 0;
  }

  body {
    padding-bottom: 6rem;
  }

  @media (max-width:450px) {
    html {
      font-size: 50%;
    }


  }
}